<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Welcome to my One Month Python project!</h1>
				<a href="{{ url_for('index') }}">Home</a>
				<p>My name is Ami Saunders and I built this project for <a href="http://www.onemonth.com/courses/one-month-python">One Month Python</a>.</p>
			</div>
		</div>
	</body>
</html>